* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: rgb(232, 237, 241);
}

@mixin formatoLetra {
    font-family: 'Staatliches', cursive;
    font-size: 4rem;
}

@mixin titulosNavegacion {
    color: rgb(42, 46, 100);
}