main {
    background-color: rgb(221, 227, 233);
    .acercaDe {
        width: 95%;
        margin: auto;
        h2 {
            @include formatoLetra;
            @include titulosNavegacion;
            font-size: 2rem;
            text-align: center;
        }
        p {
            width: 50%;
            text-align: justify;
            margin: 20px auto 20px auto;
            padding: 20px;
            border-radius: 20px;
            box-shadow: 7px 7px 15px #a1a2a8;
            font-size: 18px;
        }
    }
    section {
        width: 95%;
        margin: auto;
        h2 {
            @include formatoLetra;
            @include titulosNavegacion;
            font-size: 2rem;
            text-align: center;
            border-bottom: 2px solid opacify($color: #c0b3b3, $amount: 0);
        }
        .itemProy {
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            column-gap: 1px;
            width: 100%;
            .items {
                flex-direction: column;
                width: 30%;
                margin-bottom: 20px;
                margin: 25px auto;
                border: 1px solid #ccc;
                box-shadow: 7px 7px 15px #a1a2a8;
                img {
                    width: 100%;
                    padding: 20px;
                }
                .descripProy {
                    margin: 0px 0px 30px 15px;
                    a {
                        color: #000000;
                        text-decoration: none;
                        padding: 10px;
                        font-family: Arial, Helvetica, sans-serif;
                        font-size: 16px;
                        background-color: #696363;
                        position: relative;
                        border-radius: 5px;
                        border: 4px outset #cccccc;
                        &:hover {
                            color: #696363;
                            transition: all 0.8s;
                        }
                        .iconoDem {
                            font-size: 24px;
                            position: absolute;
                            top: 25%;
                            margin-left: -45%;
                            display: none;
                        }
                        &:hover .iconoDem {
                            top: 20%;
                            margin-left: -55%;
                            width: 100%;
                            display: inline-block;
                            color: white;
                        }
                    }
                    .tecnoUsados {
                        background-color: rgb(91, 138, 224);
                        padding: 5px;
                        border: 3px outset #2d4ac9;
                        &:hover {
                            color: #ffffff;
                            transition: all 0.8s;
                        }
                    }
                }
            }
        }
    }
    .habilidadesPort {
        width: 95%;
        margin: auto;
        .itemHabi {
            display: flex;
            justify-content: center;
            img {
                width: 10%;
                padding: 40px;
                &:hover {
                    opacity: 0.7;
                    transform: scale(1.3);
                    transition: all 0.8s;
                }
            }
        }
    }
}